@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app, html{
  min-height: 100%;
  background-color: #FFFFFB;
}
.navbar-header{
  font-family: 'Slabo';
  margin-left: 1rem;
}
.nav-links{
  color: white;
  font-size: 18px;
  margin-right: 2rem;
}
.navbar{
  background-color:#1C3144;
  font-family: 'Slabo';
}
.dropdown-menu.show{
  background-color: #1C3144;
}
.dropdown{
  list-style: none;
}
.home{
  background-color: #FFFFFB;
  height: 150vh;
}
.homeimg{
  height: 300px;
  width: 400px;
  border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  position: relative;
  left: 5rem;
  top: 10rem;
  animation: morph 6s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
  } 
  
  50% {
      border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  
  100% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
  } 
}
.icon-list{
 list-style: none;
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 position: absolute;
 left: 30rem;
}
.icons{
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #336699;
}
.icons:hover{
  box-shadow: 1.5px 1px 1.5px 2px #336699;
}
.about-section{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 60rem;
  min-height: 25rem;
  color:#2F4858;
  max-width: 90%;
  margin-left: 5rem;
  font-family: "Slabo";
}
.about-header{
  position: absolute;
  top: 60rem;
  padding-left: 2rem;
  color: #2F4858;
  margin-left: 5rem;
  font-family: 'Slabo';
  font-weight: bold;
}
.about-body{
  padding-left: 2rem;
  font-size: 19px;
  padding-right: 5rem;
  margin-top: 3rem;
  font-weight:500;
}
.aboutimg{
  border-radius: 20%;
  height: 350px;
  width: 350px;
  opacity: 0;
  transform: translateX(100px);
}
.aboutimg.active{
  opacity: 1;
  transform: translateX(0);
  transition: 3.5s ease;
}
.projects-header{
  color: #2F4858;
  font-family: "Slabo";
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  z-index: 1;
}
.project-img{
  position: relative;
  height: 500px;
  width: 600px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  left: 27rem;
  border: 1px solid #336699;
  box-shadow: 1px 1px 1px 1px #336699;
  border-radius: 5%;
}
.project-img:hover{
  box-shadow: 5px 1px 5px 1px #336699;
}

.contact{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2F4858;
  background-color: #FFFFFB;
}
.contact-header{
  margin-bottom: 1rem;
}
.contact-list{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.contact-list-item{
  margin-bottom: 1rem;
  
}
.contact-icon{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.email{
  position: absolute;
  right: 30rem;
  top: 10rem;
  color: #336699;
  font-weight:bold;
}
.number{
  position: absolute;
  right: 34rem;
  top: 17rem;
  color: #336699;
  font-weight: bold;
}
@media(min-width: 320px){
  .project-img{
    left: 2rem;
    height: 200px;
    width: 250px;
    margin-bottom: 7rem;
  }

}
@media(min-width: 375px){
  .project-img{
    left: 4rem;
    height: 200px;
    width: 250px;
    margin-bottom: 7rem;
  }
}
@media(min-width: 425px){
  .project-img{
    left: 6rem;
    height: 200px;
    width: 250px;
    margin-bottom: 7rem;
  }
}
@media(min-width: 600px){

   .project-img{
    left: 3rem;
    height: 300px;
    width: 400px;
   }

}
@media(max-width: 600px){
  .homeimg{
    height: 250px;
    width: 350px;
    top: 20rem;
    left: 0rem;
  }
  .icon-list{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: -1rem;
    top: 40rem;
   }
   .icons{
    margin-right: 0;
   }
   .about-section{
    flex-wrap: wrap;
    top: 75rem;
    margin-left: 2rem;
   }
   .about-header{
    top: 75rem;
    margin-left:0rem ;
   }
   .about-body{
    padding: 0;
    min-width: 100%;
   }
   .aboutimg{
    height: 300px;
    width: 300px;
    margin-right: 2rem;
   }
}
@media(min-width:768px){
  .project-img{
    left: 12rem;
  }

}
@media(max-width: 768px){
  .homeimg{
    left: 2;
   
  }
  .icon-list{
    left: 1rem;
    top: 37rem;
  }
  .about-section{
    flex-wrap: wrap;
  }
}
@media(min-width: 1440px){
  .project-img{
    position: relative;
    height: 500px;
    width: 600px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    left: 27rem;
    border: 1px solid #336699;
    box-shadow: 1px 1px 1px 1px #336699;
    border-radius: 5%;
  }
}
@media(min-width: 1600px){
  .project-img{
    left: 41rem;
    height: 500px;
    width: 600px;
  }
  .about-section{
    max-width: 80%;
  }
}